* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  color: #fff;
}

html {
  font-size: 62.5%;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
p,
span {
  font-size: 1.6rem;
}

.flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  margin: 5rem 10rem;
}

.heading-primary {
  font-size: 3.2rem;
}

nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.links:link,
.links:visited {
  text-decoration: none;
  color: rgb(80, 194, 80);
}

.links:hover,
.links:active {
  text-decoration: none;
  color: rgb(157, 245, 157);
}

.people {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 40px;
}

.person {
  background-color: rgb(244, 219, 126);
  color: #141414;
  height: 16rem;
  width: 16rem;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 2.4rem;
  font-weight: bold;
  border-radius: 4px;
}

.person:hover {
  transform: scale(1.08);
}

.person:active {
  transform: scale(1);
}

.about-person {
  margin-top: 40px;
  background-color: rgb(244, 219, 126);
  color: #141414;
  height: auto;
  width: 100%;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 4px;
  line-height: 1.5;
}

.btn {
  margin-top: 20px;
  background-color: rgb(96, 199, 96);
  color: #222;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
